apiVersion: k0s.k0sproject.io/v1beta1
kind: ClusterConfig
metadata:
  name: {{ project_name }}
spec:
  api:
    address: {{ k0s_api_address }}
    sans:
      - {{ k0s_api_address }}
      - k0s-master
  network:
    provider: calico
